@media (max-width: 767.98px) {    
    #block-fmc-local-tasks {
      display: none;
    }
}


.app-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    @media (max-width: 767.98px) {
      flex-direction: column;
      flex-wrap: wrap;
    }
}
#leaflet-map { 
    width: 800px;
    height: 500px; 

    @media (max-width: 767.98px) {
      width: 100%;
      height: 250px;
      margin: 0 0 20px 0;
    }


    .leaflet-popup-content,
    .leaflet-popup-pane {
      width: 75%;

        h2 {
            font-size: 18px;
        }
    }
}
#location-list-panel {
    width: 240px;
    height: 500px;
    margin: 0 0 0 0;
    padding: 0 0 0 20px;

    @media (max-width: 767.98px) {
      width: 100%;
      height: auto;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }
    
    h2 {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border-bottom: 2px solid #ccc;
        font-size: 18px;
    }
    ul {
        height: 450px;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        list-style: none;
        overflow-y: scroll;

        @media (max-width: 767.98px) {
            height: auto;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            list-style: none;
            overflow-y: scroll;
        }
        
        li {
            margin: 0 0 10px 0;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            
            &.active-loc {
                background-color: #f3f1ee;
            }
            &:first-child {
                padding: 0 10px 10px 10px;
            }
            &:last-child {
                border-bottom: 0px solid #ccc;
            }

            a:link,
            a:visited {
                text-decoration: none;
                color: black;
            }
            a:active,
            a:hover {
                color: maroon;
            }

            h3 {
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                font-size: 14px;
            }
            p {
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                font-size: 14px;

                a:link,
                a:visited {
                    text-decoration: none;
                    color: #0078A8;
                }
                a:active,
                a:hover {
                    color: maroon;
                }
            }
        }
    }
}